# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=senha
POSTGRES_DB=identity-service-db
POSTGRES_HOST_PORT=3324

# jwt
JWT_SECRET=njlkbfsuygjhkjnldjfhgdghgfchgvhbjl342567788hyu3g497r634fr43jgfriyfc87f347g84fgv3v79g497fsdcigi3ye4y

# prisma
DATABASE_URL=postgresql://root:senha@identity-service-backend-database:5432/identity-service-db

# node
PORT=3000