# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=senha
POSTGRES_DB=identity-service-db
POSTGRES_HOST_PORT=7401

# jwt
JWT_SECRET="njlkbfsuygjhkjnldjfhgdghgfchgvhbjl342567788hyu3g497r634fr43jgfriyfc87f347g84fgv3v79g497fsdcigi3ye4y"

# prisma
DATABASE_URL="postgresql://root:senha@localhost:7401/identity-service-db"

# node.js
PORT=8720